extends layouts/auth

block card
    //- .is-flex.is-justify-content-center
        .title.has-text-warning-light Sign-Up
    .section.is-flex.is-justify-content-center
        .has-text-danger-light #{error}
        form#form(action="/auth/registration?"+querystring method="post")
            .field.columns.is-align-items-center
                label.label.is-size-7-mobile.has-text-warning-light.column.is-one-quarter(for="username") Username
                .column.pt-0
                    .control.has-icons-left.is-three-quarters
                        input.input#username(
                            name="username"
                            type="text"
                            minlength="3"
                            required
                            maxlength="128"
                        )
                        span.icon.is-small.is-left
                            i.fas.fa-fixed-width.fa-user
            .field.columns.is-align-items-center
                label.label.is-size-7-mobile.has-text-warning-light.column.is-one-quarter(for="email") E-Mail
                .column.pt-0
                    .control.has-icons-left.is-three-quarters
                        input.input#email(
                            name="email"
                            type="email"
                            minlength="5"
                            required
                            maxlength="128"
                        )
                        span.icon.is-small.is-left
                            i.fas.fa-fixed-width.fa-envelope
            .field.columns.is-align-items-center
                label.label.is-size-7-mobile.has-text-warning-light.column.is-one-quarter(for="password") Password
                .column.pt-0
                    .control.has-icons-left.is-three-quarters
                        input.input#password(
                            name="password"
                            type="password"
                            required
                            minlength="8"
                        )
                        span.icon.is-small.is-left
                            i.fas.fa-fixed-width.fa-lock
            .field.is-grouped-centered
                .control.my-1
                    
                    input#tosAgreement(name="tosAgreement" type='checkbox')
                    label.mx-3(for="tosAgreement")
                        span.has-text-warning-light I agree to the 
                        a.has-text-warning(href='/terms' target="_blank") terms and conditions
                .control.mt-5.is-flex.is-justify-content-center
                    input.button.is-link(type="submit" value="Sign Up")
